*,
*:before,
*:after{
    box-sizing:border-box;
}
html,body{
    height:100%;
    margin:0;
    padding:0;
    text-align:center;
    background:grey;
}
.panel{
    height:100%;
}
#panel-1{
    background: rgb(7,2,97);
    background: linear-gradient(40deg, rgba(7,2,97,1) 0%, rgba(64,64,162,1) 24%, rgba(62,127,224,1) 44%, rgba(0,212,255,1) 68%, rgba(200,173,242,1) 89%);
    color:#416eec;
}
#panel-2{
    background: rgb(12,117,30);
background: linear-gradient(40deg, rgba(12,117,30,1) 0%, rgba(49,180,52,1) 24%, rgba(90,255,82,1) 44%, rgba(125,237,13,1) 68%, rgba(238,255,0,1) 89%);
    color:#530D06;
}
#panel-3{
    background: rgb(144,43,19);
background: linear-gradient(346deg, rgba(144,43,19,1) 0%, rgba(232,123,66,1) 24%, rgba(255,195,59,1) 44%, rgba(255,225,150,1) 68%, rgba(255,255,255,1) 89%);
    color:#600b37;
}
#panel-4{
    background: rgb(33,153,106);
background: linear-gradient(346deg, rgba(33,153,106,1) 0%, rgba(34,193,86,1) 24%, rgba(68,219,109,1) 44%, rgba(150,255,218,1) 68%, rgba(255,255,255,1) 89%);

}
button{
    padding:10px;
    width:20%;
    height: 75px;
    background-color:#1ED760;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
button:hover{
    cursor:pointer;
    background-color:greenyellow;
    color:green;
}

/*
=================================================
TYPOGRAPHY
=================================================
*/
h1{
    margin:0;
    padding:150px 0 50px 0;
    font-family: 'Oswald', sans-serif;
    font-size:54px;
}
p{
  font-family: 'Roboto', sans-serif;  
  font-size:18px;
}

/*
=================================================
Navigation
=================================================
*/

nav{
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
    background:#FFF;
    border-top:#CCC;
    padding: 40px;
}

.iframe{
    padding: 50px;
}

